:root {
    --primary-background-color: #121212;
    --secondary-background-color: #242424;
    --primary-foreground-color: #fff;

    --active-color: #fff;
    --hover-color: rgba(255, 255, 255, .08);
    --disabled-color: rgba(255, 255, 255, .3);
    --disabled-background-color: rgba(255, 255, 255, .12);
    --divider-color: rgba(255, 255, 255, .12);
}

*, :root {
    outline-color: var(--primary-foreground-color);
    color: var(--primary-foreground-color);
}

hr {
    border-color: var(--divider-color) !important;
}


.app {
    color: var(--primary-foreground-color);
    background-color: var(--primary-background-color);
}

.app:not(.top_double) .title-bar, .tool-bar {
    background-color: var(--primary-background-color);
    border-bottom: solid 1px var(--divider-color);
}

.app.top_double .title-bar {
    background-color: var(--secondary-background-color);
}


.window-controllers > div > div > div {
    filter: invert(100%) !important;
}


button {
    background-color: transparent;
    border-color: transparent;
    border: none !important;
}

button svg {
    transition: none !important;
}

button:not(:disabled), button:not(:disabled) svg {
    color: var(--active-color);
    fill: var(--active-color) !important;
}

button:disabled, button:disabled svg {
    color: var(--disabled-color);
    fill: var(--disabled-color) !important;
}

button:not(:disabled):hover {
    background-color: var(--hover-color) !important;
    border-color: var(--divider-color) !important;
    border: none !important;
}


.address-bar, .address-bar-input {
    background-color: var(--secondary-background-color);
    border-color: var(--secondary-background-color);
}

.address-bar-input:hover {
    border-color: var(--divider-color);
}


.app:not(.top_double) .horizontal-tab-container, .app:not(.top_double) .vertical-tab-container, .app:not(.top_double) .sidebar {
    background-color: var(--primary-background-color);
}

.app:not(.top_double) .horizontal-tab-item:not(.active), .app:not(.top_double) .vertical-tab-item:not(.active) {
    background-color: var(--secondary-background-color);
    border-color: var(--secondary-background-color);
}

.app:not(.top_double) .horizontal-tab-item.pinned:not(.active), .app:not(.top_double) .vertical-tab-item.pinned:not(.active) {
    background-color: var(--secondary-background-color);
    border-color: var(--secondary-background-color);
}

.app:not(.top_double) .horizontal-tab-item.pinned:not(.active):hover, .app:not(.top_double) .vertical-tab-item.pinned:not(.active):hover {
    border-color: #424242;
}

.app:not(.top_double) .horizontal-tab-item.active:not(.colored), .app:not(.top_double) .vertical-tab-item.active:not(.colored) {
    background-color: var(--hover-color);
    border-color: #424242;
}

.app:not(.top_double) .horizontal-tab-item:not(.active.colored):hover, .app:not(.top_double) .vertical-tab-item:not(.active.colored):hover {
    border-color: #424242 !important;
}

.app:not(.top_double) .horizontal-tab-item-close-button:hover, .app:not(.top_double) .vertical-tab-item-close-button:hover {
    background-color: var(--hover-color) !important;
    border-color: var(--divider-color) !important;
}


.app.top_double .horizontal-tab-container, .app.top_double .vertical-tab-container, .app.top_double .sidebar {
    background-color: var(--secondary-background-color);
}

.app.top_double .horizontal-tab-item:not(.active), .app.top_double .vertical-tab-item:not(.active) {
    background-color: var(--secondary-background-color);
    border-color: transparent;
}

.app.top_double .horizontal-tab-item.pinned:not(.active), .app.top_double .vertical-tab-item.pinned:not(.active) {
    background-color: var(--secondary-background-color);
    border-color: transparent;
}

.app.top_double .horizontal-tab-item.pinned:not(.active):hover, .app.top_double .vertical-tab-item.pinned:not(.active):hover {
    background-color: var(--hover-color) !important;
}

.app.top_double .horizontal-tab-item.active, .app.top_double .vertical-tab-item.active {
    background-color: var(--primary-background-color);
    border-color: transparent;
}

.app.top_double .horizontal-tab-item:not(.active):hover, .app.top_double .vertical-tab-item:not(.active):hover {
    background-color: var(--hover-color) !important;
}

.app.top_double .horizontal-tab-item-close-button:hover, .app.top_double .vertical-tab-item-close-button:hover {
    background-color: var(--hover-color) !important;
    border-color: var(--divider-color) !important;
}


.add-tab-button {
    background-color: var(--secondary-background-color);
    border-color: var(--secondary-background-color);
}

.add-tab-button:not(:disabled):hover {
    background-color: var(--hover-color);
    border-color: var(--divider-color);
}


.sidebar.left {
    border-right: solid 1px var(--divider-color);
}

.sidebar.left > .panel {
    border-left: solid 1px var(--divider-color);
}

.sidebar.right {
    border-left: solid 1px var(--divider-color);
}

.sidebar.right > .panel {
    border-right: solid 1px var(--divider-color);
}


.panel {
    background-color: var(--primary-background-color);
}

.panel-header {
    border-bottom-color: var(--divider-color);
}

.search-result-item.selected, .search-result-item:hover,
.bookmark-item:hover, .history-item:hover, .extension-item:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.history-group h4 {
    background-color: var(--primary-background-color);
}
