:root {
    --primary-background-color: #0c113a;
    --secondary-background-color: #23234f;
    --primary-foreground-color: #fff;

    --active-color: #fff;
    --hover-color: rgba(255, 255, 255, .08);
    --disabled-color: rgba(255, 255, 255, .3);
    --disabled-background-color: rgba(255, 255, 255, .12);
    --divider-color: rgba(255, 255, 255, .12);
}

*, :root {
    outline-color: var(--primary-foreground-color);
    color: var(--primary-foreground-color);
}

body {
    color: var(--primary-foreground-color);
}

hr {
    border-color: var(--divider-color) !important;
}


.title-bar, .tool-bar {
    background-color: var(--primary-background-color);
    border-bottom: solid 1px var(--divider-color);
}

.window-controllers > div > div > div {
    filter: invert(100%) !important;
}

button {
    background-color: transparent;
    border-color: transparent;
    border: none !important;
}

button svg {
    transition: none !important;
}

button:not(:disabled), button:not(:disabled) svg {
    color: var(--active-color);
    fill: var(--active-color) !important;
}

button:disabled, button:disabled svg {
    color: var(--disabled-color);
    fill: var(--disabled-color) !important;
}

button:not(:disabled):hover {
    background-color: var(--hover-color) !important;
    border-color: var(--divider-color) !important;
    border: none !important;
}

.address-bar, .address-bar-input {
    background-color: var(--secondary-background-color);
    border-color: var(--secondary-background-color);
}

.address-bar-input:hover {
    border-color: var(--divider-color);
}

.horizontal-tab-container, .vertical-tab-container, .sidebar {
    background-color: var(--primary-background-color);
}

.horizontal-tab-item, .vertical-tab-item {
    background-color: var(--secondary-background-color);
    border-color: var(--secondary-background-color);
}

.horizontal-tab-item.pinned:not(.active), .vertical-tab-item.pinned:not(.active) {
    background-color: var(--secondary-background-color);
    border-color: var(--secondary-background-color);
}

.horizontal-tab-item.pinned:not(.active):hover, .vertical-tab-item.pinned:not(.active):hover {
    border-color: #424242;
}

.horizontal-tab-item.active, .vertical-tab-item.active {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.horizontal-tab-item:hover, .vertical-tab-item:hover {
    border-color: #424242;
}

.horizontal-tab-item-close-button:hover, .vertical-tab-item-close-button:hover {
    background-color: var(--hover-color) !important;
    border-color: var(--divider-color) !important;
}

.add-tab-button {
    background-color: var(--secondary-background-color);
    border-color: var(--secondary-background-color);
}

.add-tab-button:not(:disabled):hover {
    background-color: var(--hover-color);
    border-color: var(--divider-color);
}


.sidebar.left {
    border-right: solid 1px var(--divider-color);
}

.sidebar.left > .panel {
    border-left: solid 1px var(--divider-color);
}

.sidebar.right {
    border-left: solid 1px var(--divider-color);
}

.sidebar.right > .panel {
    border-right: solid 1px var(--divider-color);
}


.panel {
    background-color: var(--primary-background-color);
}

.panel-header {
    border-bottom-color: var(--divider-color);
}

.history-item:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

