*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto Symbol', 'Noto Sans', 'Noto Sans JP', 'Yu Gothic UI', 'Hiragino Sans', 'Noto Color Emoji', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    overflow: hidden;
}
